<%= render 'books/list',book: @book_temprate,user: @user %>




<% @books.each do |book| %>
<div>
  <%= link_to book_path(book.id) do %>
  <%= image_tag book.get_image %>
  <% end %>

  <p>Title:<%= book.title %></p>
  <p>Opinion:<%= book.body %></p>
</div>
<% end %>