<div>
  <%= image_tag @user.get_profile_image(100,100) %>
  <p><%= @user.name %></p>
  <p><%= link_to "プロフィール編集",edit_user_path %></p>
</div>

<%= render 'books/list', book: @book %>


<% @books.each do |book| %>
<div>
  <%= link_to book_path(book.id) do %>
  <%= image_tag book.get_image %>
  <% end %>
 
  <p>Title:<%= book.title %></p>
  <p>Opinion:<%= book.body %></p>
</div>
<% end %>