
<%= render 'list',book: @book_temprate,user: current_user %>

<% @books.each do |book| %>
<div>
  <p><%= image_tag book.user.get_profile_image(100,100) %></p>
  <p>Title: <%= book.title %></p>
  <%= link_to book_path(book.id) do %>
    <%= book.title %>
  <% end %>
  <p>Opinion: <%= book.body %></p>


</div>

<% end %>
