
<%= render 'list',book: @book %>

<h1>Books detail</h1>

<div>
  <p><%= image_tag @book.user.get_profile_image(100,100) %></p>
  <%= link_to user_path(book.user.id) do %>
    <%= book.user.name  %>
  <% end %>
  <p>title: <%= @book.title %></p>
  <p>Opinion: <%= @book.body %></p>


  <%= link_to "edit", edit_book_path(@book.id) %>
  <%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "本当に消しますか?" %>
  <% if @book.user == current_user %>
  <%= link_to "destroy",book_path(@book), method: :delete  %>
  <% end %>
</div>
