
<% if @book_temprate.errors.any? %>
<%= @book_temprate.errors.count %>errors prohibited this obj from being saved:
<ul>
 <% @book_temprate.errors.full_messages.each do |message| %>
  <li><%= message %></li>
 <% end %>
</ul>
<% end %>




<% if @book.errors.any? %>
 <%= @book.errors.count %>errors prohibited this obj from being saved:
 <ul>
 <% @book.errors.full_messages.each do |message| %>
  <li><%= message %></li>
 <% end %>
 </ul>
<% end %>
<p id="notice"></p>
<div class="container">
  <div class="row">
     <div class="col-md-3">
       <%= render 'list',book: @book_temprate,user: @user_temprate %>
     </div>
     <div class="col-md-8 offset-md-1">
     <h1>Book detail</h1>
     <table class="table">

     <tbody>
     <tr>
       <td>
         <%= link_to user_path(@book.user.id) do %>
         <%= image_tag @book.user.get_profile_image(100,100) %>
         <div><%= @book.user.name %></div>
         <% end %>
       </td>
       <td>
         <%= link_to book_path(@book.id) do %>
         <%= @book.title %>
         <% end %>
       </td>
       <td><%= @book.body %></td>
       <% if @book.user == current_user %>
       <td>
        <a>
          <%= link_to edit_book_path(@book), class: "btn btn-sm btn-success edit_book_path" do %>
          Edit<% end %>
          </a>
       </td>
        <% end %>
          <% if @book.user == current_user %>
       <td>

        <a>
        <%= link_to book_path(@book), method: :delete, class: "btn btn-sm btn-danger destroy_book_path" do %>
         Destroy<% end %>
         </a>
       </td>
       <% end %>
     </tr>
     </tbody>
     </table>
   </div>
  </div>
</div>

